# titanic.csv
https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

Assume it is saved in C:\Souhrud\titanic.csv

https://gist.github.com/netj/8836201
Assume it is saved in C:\Souhrud\iris.csv

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Souhrud/titanic.csv")

In [2]:
print(f"Total rows: {len(df)}")

Total rows: 891

# We use read_csv() function to read CSV files

In [3]:
# Titanic Dataset, df

df.info()
df.describe()

print("Empty in Titanic:")
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Empty in Titanic:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df2 = pd.read_csv("C:/Souhrud/iris.csv")
print(f"Total rows: {len(df2)}")

Total rows: 150

In [5]:
# Iris Dataset, df2

df2.info()
df2.describe()

print("Empty in Iris:")
df2.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
Empty in Iris:

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

# Data Correction

In [6]:
# Titanic
df.fillna({'Age': "unknown"}, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## What is ML?
- Subset of AI where systems learn from data to make decisions or predictions without being explicitly programmed.

### Data
- is the foundation
- ML models learn from data

### Algorithms
- Set of instructions or methods used to build models

### Model
- Output of training, capable of making predictions or decision
### Training and Testing
- Splitting the data to evaluate the model's performance