# What is numpy?

Numpy is used to generate multidimensional arrays and has functions to work with them

# What is pandas?

Pandas is a python library which converts data into data frames to perform various operations

Df(data frames) means data in rows and columns form.

Deps:
```bash
pip install pandas numpy matplotlib seaborn scipy
```

In [13]:
import numpy as np
import pandas as pd

data = {
    'ID': ['1', '2', '2', '3', '4', '5', '6', '7', '8', '9'],
    'Name': ['Alice', 'Bob', 'Bob', 'Charlie', 'David', 'Eve', '', 'George', 'Hannah', 'Ian'],
    'Age': ['25', '30', '30', '', '45', '50', '22', '23', '120', '-5'],
    'Salary': ['50000', '60000','60000', '70000', '', '90000', '40000', '30000', '20000', '100000'],
    'JoinDate': ['2022-01-15', '2021-06-20', '2021-06-20', '2020-03-10', '2019-12-05', '', '2023-05-18', '2022-07-21', '2021-09-30', '2018-11-11'],
    'PhoneNumber': ['1234567890', '1234567890','1234567890', '1234567890', '1234567890', '1234567890', '1234567890', '1234567890', '1234567890', '1234567890']
    
}

df = pd.DataFrame(data)

print("DataFrame: \n", df)

print("\nNames:\n", df['Name'])

print("\nAges:\n", df['Age'])

print("\nPhone:\n", df['PhoneNumber'])

print("\nFirst Row:\n", df.loc[0])

DataFrame:
   ID     Name  Age  Salary    JoinDate PhoneNumber
0  1    Alice   25   50000  2022-01-15  1234567890
1  2      Bob   30   60000  2021-06-20  1234567890
2  2      Bob   30   60000  2021-06-20  1234567890
3  3  Charlie        70000  2020-03-10  1234567890
4  4    David   45          2019-12-05  1234567890
5  5      Eve   50   90000              1234567890
6  6            22   40000  2023-05-18  1234567890
7  7   George   23   30000  2022-07-21  1234567890
8  8   Hannah  120   20000  2021-09-30  1234567890
9  9      Ian   -5  100000  2018-11-11  1234567890

Names:
 0      Alice
1        Bob
2        Bob
3    Charlie
4      David
5        Eve
6
7     George
8     Hannah
9        Ian
Name: Name, dtype: object

Ages:
 0     25
1     30
2     30
3
4     45
5     50
6     22
7     23
8    120
9     -5
Name: Age, dtype: object

Phone:
 0    1234567890
1    1234567890
2    1234567890
3    1234567890
4    1234567890
5    1234567890
6    1234567890
7    1234567890
8    1234567890
9    1234567890
Name: PhoneNumber, dtype: object

First Row:
 ID                      1
Name                Alice
Age                    25
Salary              50000
JoinDate       2022-01-15
PhoneNumber    1234567890
Name: 0, dtype: object

Source:
https://github.com/uttamds/Genesis/blob/master/Data%20Analytics/data_cleaning_excel.md?plain=1#L1
| ID|Name|Age|Salary|JoinDate|
| --- | --- | --- | --- | --- |
|1|Alice|25|50000|2022-01-15|
|2|Bob|30|60000|2021-06-20|
|2 |Bob|30|60000|2021-06-20|
|3 |Charlie| |70000|2020-03-10|
|4| David|45| |2019-12-05|
|5 |Eve|50|90000| |
|6 | |22|40000|2023-05-18 |
|7 |George|23|30000|2022-07-21 |
|8 |Hannah|120|20000|2021-09-30 |
|9 |Ian|-5|100000|2018-11-11 |

In [14]:
import pandas as pd
import numpy as np
from scipy import stats

# Sample dataset
data = {
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 100],  # 100 is an outlier
    'Salary': [50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 200000]  # Outlier at 200k
}

# Create DataFrame
df = pd.DataFrame(data)

# 1️⃣ **Measures of Central Tendency**
mean_age = df['Age'].mean()
median_age = df['Age'].median()
mode_age = stats.mode(df['Age'], keepdims=True)[0][0]

# 2️⃣ **Measures of Dispersion**
std_dev = df['Age'].std()  # Standard Deviation
variance = df['Age'].var()  # Variance
range_age = df['Age'].max() - df['Age'].min()  # Range
iqr = np.percentile(df['Age'], 75) - np.percentile(df['Age'], 25)  # Interquartile Range (IQR)

# 3️⃣ **Summary Statistics**
summary = df.describe()

# Print results
print("Mean Age:", mean_age)
print("Median Age:", median_age)
print("Mode Age:", mode_age)
print("Standard Deviation:", std_dev)
print("Variance:", variance)
print("Range:", range_age)
print("Interquartile Range (IQR):", iqr)

print("\nSummary Statistics:")
print(summary)

Mean Age: 48.888888888888886
Median Age: 45.0
Mode Age: 25
Standard Deviation: 22.329601678290437
Variance: 498.6111111111111
Range: 75
Interquartile Range (IQR): 20.0

Summary Statistics:
              Age         Salary
count    9.000000       9.000000
mean    48.888889   97777.777778
std     22.329602   44659.203357
min     25.000000   50000.000000
25%     35.000000   70000.000000
50%     45.000000   90000.000000
75%     55.000000  110000.000000
max    100.000000  200000.000000